<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KET QUA DỰ ĐOÁN MOT BO HO SO</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/web/css/font-awesome.min.css">

    <style type="text/css">
        

        body {
            font-family: 'Fira Sans', sans-serif;
            background-image: url("../static/web/images/1.jpg");
           
        }

        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<div class="container-fluid" >
  
	   <div class="row text-center mt-lg-5 mb-lg-5 text-white">
        <div class="col-md-4">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <a href="/">
                            <i aria-hidden="true">
							 <img src="../static/web/images/HOME.jpg" class="img-rounded" width="50px" height="50px" alt="" />
								
							</i>
                        </a>
                    </div>
                    <div class="col mt-2">
                        <h5> TRANG CHỦ</h5>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="/nhapfiledudoan">
                        <i  aria-hidden="true">
						 <img src="../static/web/images/ungdung.jpg" class="img-rounded" width="50px" height="50px" alt="" />
    
						</i>
                    </a>
                </div>
                <div class="col mt-2">
                    <h5>ĐÁNH GIÁ</h5>
                </div>
                <div class="col"><p>VỚI NHIỀU BỘ HỒ SƠ</p></div>
            </div>
        </div>
		
		
		<div class="col-md-3">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="/phantichdulieu">
                        <i  aria-hidden="true">
							<img src="../static/web/images/phantich.png" class="img-rounded" width="50px" height="50px" alt="" />
    
						</i>
                    </a>
                </div>
                <div class="col mt-2">
                    <h5>PHÂN TÍCH</h5>
                </div>
                <div class="col"><p>DỮ LIỆU</p></div>
            </div>
        </div>
		
		
		
        <div class="col-md-2">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="/ketquanghiencuu">
                        <i  aria-hidden="true">
						 <img src="../static/web/images/danhgia.png" class="img-rounded" width="50px" height="50px" alt="" />
    
						</i>
                    </a>
                </div>
                <div class="col mt-2"><h5>ĐÁNH GIÁ KẾT QUẢ</h5></div>
                <div class="col"><p>MÔ HÌNH NGHIÊN CỨU</p></div>
            </div>
        </div>
    </div>
	  
	  
	  
    <div class="text-center mt-lg-1">
        <h2 class="text-white ">
            NGÀNH NGHỀ MÀ HỆ THỐNG ĐỀ XUẤT PHÙ HỢP VỚI BẠN NHẤT LÀ			
        </h2>  
	   
	   
	   <div class="text-white ">
			<b>
			<h1 style="color:yellow" align="center">{{data[0].label1}}</h1></b>
			
			   <div class="text-center ">
        <hr class="border-top" style="width: 60%">
    </div>
			<i>
			<h4 color="white" align="center">ĐỀ XUẤT CÁC NGÀNH NGHỀ KHÁC PHÙ HỢP VỚI BẠN LÀ:</h3>
			<h4 style="color:yellow" align="center"> 1. {{data[0].label2}}</h4>
			<h4 style="color:white" align="center"> 2. {{data[0].label3}}</h4>
			<h4 style="color:yellow" align="center"> 3. {{data[0].label4}}</h4>
			<h4 style="color:white" align="center"> 4. {{data[0].label5}}</h4>
			</i>
			
		</div>
	   
	   
	   
	   
	   
	   
	   <br>
		
       
    </div>
    <div style="margin-top: 80px"></div>
   
    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <p class="text-light text-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    <a href="/">Võ Trung Chánh</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>